/***************************************************************
RESET BROWSER VALUES SO EVERYONE IS THE SAME
***************************************************************/
@import url(reset.css);
@import url(common.css);


/***************************************************************
TAG STYLES
***************************************************************/
body { background: url(../images/wa_bg2.jpg) no-repeat top center; min-width: 960px; background-color:#FFFFFF; font-family: Arial, 'Lucida Grande', sans-serif; color: #021324; }
h1 { font-size: 40px; }
h2 { font-size: 24px; color: #021324; margin-bottom: 15px; }
h3 { font-size: 16px; color: #021324; margin-bottom: 5px; font-weight: normal; }
h4 { font-size: 12px; margin-bottom: 5px; }
a { color: #dc461c; }
p { margin-bottom: 15px; line-height: 16px; }
blockquote { font-style: italic; margin-bottom: 20px; }
cite { display: block; font-size: 12px; color: #e95c18; margin-top: 10px; } 
input { padding: 2px; }
ul { margin: 0 0 20px 15px; }
li { list-style: disc; }
input, textarea { border: 1px solid #ccc; }
textarea { font-family: Arial, 'Lucida Grande', sans-serif; color: #333; font-size: 12px; }


/***************************************************************
GENERIC CLASSES 
***************************************************************/
.left { float: left; }
.right { float: right; }
.block { margin-bottom: 30px; }
a.readmore { display: block; }
table.form td { padding: 3px 5px 3px 0; }


/***************************************************************
SPECIFIC AREAS
***************************************************************/
div#error_404 { margin: -100px 0 0 340px; }
div#container { }
div#container_inner { position: relative; width: auto; min-width: 960px;}
div#header { text-align: center; padding: 20px; width: 500px; margin:auto; background: #fff; position: relative; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; -moz-border-bottom-left-radius: 15px; -moz-border-bottom-right-radius: 15px; background-color:rgba(230,230,255,0.4); }

div#navigation { text-align: center; margin-top: 259px; margin-left: 20px; height: 35px; padding: 0px; font-size:18px; }

div#newAuction { width: 600px; margin:auto; padding: 20px;}

div#userInfoBox { float:right; width: 400px; text-align: center; margin-top: 80px; padding: 10px; font-size:18px; border-bottom-left-radius: 15px; border-top-left-radius: 15px; -moz-border-bottom-left-radius: 15px; -moz-border-top-left-radius: 15px; background-color:rgba(230,230,255,0.6);}

div#main { background: #fff; margin-top: 20px; padding: 20px; font-size:16px;}
div#main h3 { color: #021324; font-weight: bold; font-size: 14px; margin-bottom: 0px; }
div#main li { background-repeat: no-repeat; padding-left: 44px; }

div#features { padding-top: 120px; }
div#for_clients { width: 342px; float: left; padding-right: 20px; }
div#for_developers { width: 342px; float: left;  padding-left: 20px;}

/* footer */
div#footer { color: #021324; margin-top: 10px; background: #fff; padding: 20px; text-align: center;}

.menu{
    width: 100%;
}

.menu ul{
    margin: 0; padding: 0;
    float: left;
}
 
.menu ul li{
    display: inline;
	
}
 
.menu ul li a{
    float: left; text-decoration: none;
    color: #333;
    padding: 10.5px 11px;
    background-color:rgba(230,230,255,0.6);
	margin-right: 5px;
	border-top-left-radius: 15px; border-top-right-radius: 15px; -moz-border-top-left-radius: 15px; -moz-border-top-right-radius: 15px;
}
 
.menu ul li a:visited{
    color: #333;
	margin-right: 5px;
	background-color:rgba(230,230,255,0.6);
	border-top-left-radius: 15px; border-top-right-radius: 15px; -moz-border-top-left-radius: 15px; -moz-border-top-right-radius: 15px;
}
 
.menu ul li a:hover, .menu ul li .current{
    color: #fff;
	margin-right: 5px;
    background-color:#0b75b2;
	border-top-left-radius: 15px; border-top-right-radius: 15px; -moz-border-top-left-radius: 15px; -moz-border-top-right-radius: 15px;
}

.input {
	border:medium solid #333;
	border-radius: 6px;
	-moz-border-radius: 6px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	padding-left: 10px;
	padding-right: 10px;
}
.select {
	border:medium solid #333;
	border-radius: 6px;
	-moz-border-radius: 6px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	
}
.button {
	border:medium solid #333;
	border-radius: 6px;
	-moz-border-radius: 6px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	background-color: #FFF;
	padding-left: 3px;
	padding-right: 3px;
}
.button:hover {
	border:medium solid #333;
	border-radius: 6px;
	-moz-border-radius: 6px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	background-color: #64E0FF;
	text-decoration: none;
}
label {
	width: 200px;
	text-align: left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
}
